
<a href="{{ repo.url }}">{{ repo.name }}</a>
<br />
<span class="small">{{ repo.description }}</span>
<span class="float-right">
    {{ repo.stargazers_count }} <i class="glyphicon glyphicon-star"></i>
</span>