{% extends 'base.html.twig' %}

{% block body %}

<div class="col-sm-12">

    Hello World


    <hr/>

    {{ form_start(myForm) }}
    {{ form_widget(myForm) }}
    {{ form_end(myForm) }}
</div>

{% endblock %}

